
.color-apd-streamline{
    background-color: #2290e9 !important;
    border-color: #2290e9 !important;
}

.color-apd-classic{
    background-color: #307ecc !important;
    border-color: #307ecc !important;
}

.color-one-shot{
    background-color: #08C !important;
    border-color: #08C !important;
}

.color-pre-approval{
    background-color: #0086B3 !important;
    border-color: #0086B3 !important;
}

.color-apc{
    color: #0086B3 !important;
}

.color-rounders{
    background-color: #e8b10d !important;
    border-color: #e8b10d !important;
}

.color-cashout-cash{
    background-color: #82af6f !important;
    border-color: #82af6f !important;
}

.color-cashout-card{
    color: #D41A1A !important;
}

.background-color-cashout-card{
    background:  #D41A1A !important; 
    color: white;
}

.background-color-apc{
    background:  #0086B3 !important; 
    color: white;
}

#apd-streamline-menu,
#apd-classic-menu ,
#one-shot-menu, 
#pre-approval-menu,
#apc-menu,
#rounders-menu,
#cashout-cash-menu,
#cashout-cards-menu{
    display: none;
}

.small-subtitle{
    font-size:50%;
}

.main-logo{
    width: 30%;
}